.leaderBoard {
  height: 100%;
  background-color: antiquewhite;
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 100;
  top: 0;
  transform: translateX(100%);
  transition: transform 0.3s;
  font-family: "Press Start 2P", cursive;
  background-image: url("https://wallpaper-house.com/data/out/6/wallpaper2you_127747.png");
  background-position-y: 62%;
}

.chevron {
  margin: 15px;
  font-size: 2rem;
  color: antiquewhite;
}

.title {
  text-decoration: underline;
}
.leadersColumn {
  text-align: center;
}

.open {
  transform: translateX(0);
}

.leaders {
  margin: 5px;
}

.username {
  font-weight: bold;
  text-decoration: underline;
}
.position {
  font-weight: bold;
}
