.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-image: url("https://www.ppt-backgrounds.net/uploads/bit-sky-8bit-pixel-art-environment-sky-8bit-pastel-pixelated-sky---wallpaper-background.jpeg");
  font-family: "Press Start 2P", cursive;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-shadow: 2px 2px 2px 1px grey;
  border-radius: 10%;
}

.card-content {
  padding: 0;
}

.label {
  text-align: center;
}

.content {
  text-align: center;
}

#login-button {
  margin: 10px;
}
#username {
  color: black;
}

#login-button {
  font-family: "Press Start 2P", cursive;
}
