.loggedIn {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  background-image: url("https://wallpaper-house.com/data/out/6/wallpaper2you_127720.png");
  background-position-y: 68%;
}
