#nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
  margin: 0;
  justify-content: space-between;
}

#username {
  margin-left: 5px;
  color: antiquewhite;
  font-size: 1.5rem;
}

#burger {
  margin-right: 5px;
  padding: 0;
  color: white;
  font-size: 2rem;
}

#bee {
  height: 2rem;
}
